body {
    background: #ecbad0
}

h1 {
    color: #0a0a0a;
    font-size: 48px;
    font-family: "Sofia", sans-serif;
    text-shadow: 4px 4px 4px #aaa;
    background: #ccc
    margin: 50px;
    padding: 20px;
    text-align: center;

    
}

